demo/example-build-image-and-run-application/src/main/app/dockerBuildImageAndRunApplication.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:context="http://www.springframework.org/schema/context" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:docker="http://www.mulesoft.org/schema/mule/docker" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/docker http://www.mulesoft.org/schema/mule/docker/current/mule-docker.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <context:property-placeholder location="mule-app-${ENV}.properties"/>
    <docker:HTTP-Docker-Config name="Docker__HTTP_Docker_Config" dockerHostIP="${docker.host}" dockerHostPort="${docker.port}" apiVersion="${docker.APIVersion}" doc:name="Docker:HTTP Docker Config"/>
    <flow name="dockerBuildImageAndRunApplication">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/runapp" doc:name="HTTP"/>
        <docker:build-image config-ref="Docker__HTTP_Docker_Config" dockerFilePath="${build.dockerFile}" removeContainers="true" doc:name="Build image from Dockerfile">
            <docker:image-tags>
                <docker:image-tag>${build.imageName}:${build.imageTag}</docker:image-tag>
            </docker:image-tags>
        </docker:build-image>
        <logger message="Build Image response: + #[payload]" level="INFO" doc:name="Log build image response"/>
        <docker:push-image config-ref="Docker__HTTP_Docker_Config" imageName="${build.imageName}" imageTag="${build.imageTag}" doc:name="Push image to registry"/>
        <docker:pull-image config-ref="Docker__HTTP_Docker_Config"  imageName="${build.imageName}" imageTag="${build.imageTag}" doc:name="Pull image"/>
        <docker:run-container config-ref="Docker__HTTP_Docker_Config" imageName="${build.imageName}" imageTag="${build.imageTag}" containerName="${app.containerName}" doc:name="Run container">
            <docker:command>
                <docker:command>/bin/sh</docker:command>
                <docker:command>runapp.sh</docker:command>
            </docker:command>
        </docker:run-container>
        <docker:inspect-container config-ref="Docker__HTTP_Docker_Config" containerName="${app.containerName}" doc:name="Inspect container"/>
        <json:object-to-json-transformer doc:name="InspectContainerResponse to JSON"/>
        <logger message="#[payload]" level="INFO" doc:name="Log InspectContainerResponse"/>
    </flow>

</mule>